{
  "test": ["./**/*.ts", "./**/*.tsx"],
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "8.11.4"
      },
      "modules": false
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "lodash"
  ]
}